.app {
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

form {
    margin: 1rem auto;
    min-height: 600px;
    max-width: 600px;
}

input {
    width: 240px;
    padding: 1rem;
    margin: 2rem 0;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: transparent;
    font-size: 1rem;
}

button {
    padding: 1.1rem 1.2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.todos-container {
    width: 400px;
    margin: 0 auto;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    text-transform: capitalize;
}

.todo-btn {
    display: flex;
    gap: 1rem;
}

.btn-complete {
    color: green;
    cursor: pointer;
}

.btn-delete {
    color: red;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
